.heading{
    color: red;
}
.img{
    width: 200px;

}
.card{
    border: 1px solid #ddd;
    width: 200px;
    margin: 10px;
    box-shadow: 1px 1px 3px solid #ddddddc5;

}
.textWrap{
    padding: 10px;

}